*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 150px;
    background-color: lightgray;
    flex-shrink: 0;
  }
  
  .main {
    flex: 1;
    background-color: white;
   
  }
  
  .header{
    height: 75px;
    background-color: gray;
    color: white;
    padding-top: 15px;
    padding-left: 30px;
  }
   
  .btnblock{
    display: flex;
    position: absolute;
    gap: 10px;
    top: 20px;
    left: 200px;
    cursor: pointer;
  }
  .btn:is(:hover, .active){
    color: #000000;
    background-color: #ffffff;
  }
  .btn{
    width: 200;
    background: rgb(116, 121, 126);
    border-radius: 7px;
    border: 1px solid black;
    padding: 10px;
  
  }
  .Export{
    font-size: 16px;
    color: #ffffff;
    background: rgb(116, 121, 126);
    position: absolute;
    padding: 10px;
    border-radius: 15px;
    top: 20px;
    right: 100px;
    cursor: pointer;
    border: 1px solid black;
  }
  .Export:is(:hover){
    color: #000000;
    background-color: #ffffff;
  }
  .scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    height: 75px;
    color: white;
    text-align: center;  
  }
  
  .scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: large;
    
  }
  
  .scrollmenu a:hover {
    background-color: #777;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
   
  }
  
  .buttons button{
    width: 50%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 1px;
    margin-left: 25%;
    background: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20%;
  }
   .clear-canvas{
    width: 50%;
    margin-left: 25%;
    margin-top: 170%;
    font-size: 0.9rem;
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
    border-radius: 7px;
    font-size: 0.9rem;
    background: none;
    padding: 10px;
  
  
  }
  .clear-canvas:hover{
    color: #fff;
    background: #6C757D;
  }
  .buttons .Brush{
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
  }
  .Brush:hover{
    color: #fff;
    background: #6C757D;
  }
  
  .buttons .Eraser{
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
  }
  .Eraser:hover{
    color: #fff;
    background: #6C757D;
  }
  .buttons .Pentool{
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
  }
  .Pentool:hover{
    color: #fff;
    background: #6C757D;
  }
  
  .nandp{
    width: 50%;
    align-self: center;
    border-radius: 7px;
    border: none;
    outline: none;
    background: none;
    margin-top: 50%;
    
  }
  .nandp .Next{
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    
  }
  
  .nandp .previous{
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    margin-top: 20px;
  }
  
  .slide{
    position: absolute;
    right: 5%;
    top: 350px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 20px;
   
  }
  input[type=range][orient=vertical]
  {
      writing-mode: bt-lr; /* IE */
      -webkit-appearance: slider-vertical; /* Chromium */
      width: 10px;
      height: 200px;
      padding: 0 10px;
  }
  .main{
    border: 10px solid black;
  }